*{
  padding: 0%;
  margin: 0%;
}

#game{
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}
#character{
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 440px;
  left: 190px;
  z-index: 1000000;
}